# -*- mode: nginx -*-
server {
    listen {{ django_port }};
    server_name {{ django_server_name }};

    {% if django_basic_auth -%}
    auth_basic {{ django_basic_auth_realm }};
    auth_basic_user_file {{ django_basic_auth_realm }}.auth;
    {% endif %}

    client_max_body_size {{ django_max_upload_size }};

    location /media {
	alias {{ django_media_path }};
    }

    location /static {
        alias {{ django_static_path }};
    }

    location / {
	include /etc/nginx/uwsgi_params;
	uwsgi_pass unix:///tmp/{{ django_project_name }}.sock;
    }
}
